extends ./layouts/default


block map
    .div(id="map-canvas")

block content

    .row.full-height
        .col-md-3.white.full-height.side-container
            .row
                .col-md-12.breaking-news
                    p.lead.news-content
                        != news.get('text.linked')
                    .location
                        | Streaming Tweets From 
                        span.location-content
                            | #{news.locations}
            hr
            .tweets
                for tweet in tweets
                    .row.tweet
                        .col-md-12
                            .row
                                .col-md-3.cramped-right
                                    a(href="http://twitter.com/#{tweet.user.screen_name}", target="_blank")
                                        img(src="#{tweet.user.profile_image_url}").rounded
                                .col-md-9.cramped
                                    .row
                                        .col-md-12
                                            span
                                                b #{tweet.user.name} 
                                    .row
                                        .col-md-12
                                            span.small.text-muted
                                                | @#{tweet.user.screen_name}
                                    .row
                                        .col-md-12
                                            p
                                                != tweet.get('text.linked')
                                                br
                                                span.small.text-muted
                                                    | #{tweet.reason}
                                //- .tweet-content
                                //-     | #{tweet.text}
                                //- br
                                //- .tweet-user
                                //-     |  - by @#{tweet.user.screen_name}

                                //- br
                                //- br
                                //- .tweet-reason
                                //-     | #{tweet.reason}


block pre-footer
    script#tweet-template(style='display: none', type="text/html")
        .row.tweet
            .col-md-12
                .row
                    .col-md-3.cramped-right
                        a(href!="http://twitter.com/<%= screen_name %>", target="_blank")
                            img(src!='<%= img %>').rounded
                    .col-md-9.cramped
                        .row
                            .col-md-12
                                span
                                    b <%= name %>
                        .row
                            .col-md-12
                                span.small.text-muted
                                    | @<%= screen_name %>
                        .row
                            .col-md-12
                                p
                                    <%= text %>
                                    br
                                    span.small.text-muted
                                        | <%= reason %>

    script.
        map_location = [#{coordinates}];